@import url('https://fonts.googleapis.com/css?family=Caveat|Italianno|Lobster|Montserrat+Alternates|Pacifico');

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #fffda5;
    color: #d82b2b;
    max-width: 1200px;
    margin: auto;
}

.header-logo {
    font-family: Allura, cursive;
    font-style: italic;
    font-size: 4rem;
    margin: 0.5rem;
    text-align: right;
}

.navbar-expand-lg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ff9721;
}

.navbar-collapse a {
    color: #d82b2b;
    text-decoration: none;
    padding: 0 1%;
}

.navbar-collapse a:hover {
    text-decoration: underline;
}


.banner {
    background-image: url('../img/banner.jpg');
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

@media (min-width: 650px) {
.name {
    margin:auto;
    width: 100%;
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    font-style: italic;
    color: #d82b2b;
    padding-top: 100px;
    background-color: #fffda5;
}
}

@media (max-width: 649px) {
.name {
    margin:auto;
    width: 100%;
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 1.5rem;
    font-style: italic;
    color: #d82b2b;
    padding-top: 100px;
    background-color: #fffda5;
}
}

#return-back {
    align-items: center;
    background-color: #ff9721;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    
    
}
#return-back a {
    color: #d82b2b;
    text-decoration: none;
    padding: 0 1%;
    
}
#return-back a:hover {
    text-decoration: underline;
}
.text {
    width: 100%;
}

.footer-inspired {
    text-align: center;
    font-size: small;
    position: static;
    width: 100%;
    bottom: 0;
    min-height: 20px;
    background-color: #d82b2b;
    color: white;
    margin: auto;
}


