@import url('https://fonts.googleapis.com/css?family=Caveat|Italianno|Lobster|Montserrat+Alternates|Pacifico');

:root {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #fffda5;
    color: #d82b2b;
    max-width: 1200px;
    margin: auto;
}

.header-logo {
    font-family: Allura, cursive;
    font-style: italic;
    font-size: 4rem;
    margin: 0.5rem;
    text-align: center;
}

.navbar-expand-lg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ff9721;
}

.navbar-collapse a {
    color: #d82b2b;
    text-decoration: none;
    padding: 0 1%;
}

.navbar-collapse a:hover {
    text-decoration: underline;
}


.banner {
    background-image: url('../img/banner.jpg');
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.name {
    margin:auto;
    min-width: 200px;
    text-align: left;
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    font-style: italic;
    color: #d82b2b;
    padding-top: 100px;
    background-color: #fffda5;
}

@media (min-width: 501px;){
.about-me {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fffda5;
    }
    }

@media (max-width: 500px;) {
    .about-me {
    width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fffda5;
}
.elena-img {
    width: 100%;
}
    
}


.elena-info {

    background-color: #fffda5;
    color: black;
    font-size: 1rem;
}


.

.form {
    width: 100%;
    text-align:center;
    display: flex;
}

.container {
    background-color: #fffda5;
}    
.main-services a {
    text-decoration: none;
    font-family: 'Italianno', cursive;
    color: white;
}
.main-services a:hover {
    text-decoration: underline;
}
.main-feedback {
    display: block;
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: #fffda5;
}



.main-contacs-name {
    text-align: center;
    color: #fffda5;
    }
.main-contacts {
    font-size: small;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom-width: 100px;
    border-top-width: 100px;
    text-align: center;
}

.footer-inspired {
    text-align: center;
    font-size: small;
    position: flex;
    max-width: 1200px;
    bottom: 0;
    min-height: 20px;
    background-color: #d82b2b;
    color: white;
    margin: auto;
    
}


