@import url('https://fonts.googleapis.com/css?family=Caveat|Italianno|Lobster|Montserrat+Alternates|Pacifico');

:root {
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url('../img/background-articles.jpg');
    color: white;
    max-width: 100%;
    margin: auto; 
}


.banner {
    font-family: Allura, cursive;
    font-style: italic;
    font-size: 2rem;
    margin: 0.5rem;
    text-align: center;
}
.header-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.header-nav a {
    color: white;
    text-decoration: none;
    padding: 0 1%;
}

.header-nav a:hover {
    text-decoration: underline;
}

.main-logo {
    font-family: Allura, cursive;
    font-style: italic;
    font-size: 4rem;
    margin: 0.5rem;
    text-align: right;
}

.main-articles {
    text-align: right;
}

.main-articles a {
    text-decoration: none;
    font-family: 'Italianno', cursive;
    color: white;
    
}
.main-articles a:hover {
    text-decoration: underline;
}

.footer-inspired {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    min-height: 20px;
    background-color: white;
    color: #d82b2b;
    margin: auto;
}