@import url('https://fonts.googleapis.com/css?family=Caveat|Italianno|Lobster|Montserrat+Alternates|Pacifico');

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #fffda5;
    color: #d82b2b;
    max-width: 1200px;
    margin: auto;
}

.header-logo {
    font-family: Allura, cursive;
    font-style: italic;
    font-size: 4rem;
    margin: 0.5rem;
    text-align: right;
}

.navbar-expand-lg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ff9721;
}

.navbar-collapse a {
    color: #d82b2b;
    text-decoration: none;
    padding: 0 1%;
}

.navbar-collapse a:hover {
    text-decoration: underline;
}


.banner {
    background-image: url('../img/banner.jpg');
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.name {
    margin:auto;
    width: 100%;
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 4rem;
    font-style: italic;
    color: #d82b2b;
    padding-top: 100px;
    background-color: #fffda5;
}

@media only screen and (min-width: 760px) {
.main-articles {
    background-color: #fffda5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 100%;
}
}

.article {
    margin: 20px 20px 20px 20px;
    width: 100%;
    border-bottom-width: 50px;
    
}

@media only screen and (max-width: 659px) {
    .main-articles {
    background-color: #fffda5;
    text-align: center;
    width: 100%;
    display:  grid;
    grid-template-columns: 1fr;
    margin: 20px 20px 20px 20px;
}

.article {
    width: 100%;E
}
    
}

.footer-inspired {
    text-align: center;
    font-size: small;
    position: static;
    width: 100%;
    bottom: 0;
    min-height: 20px;
    background-color: #d82b2b;
    color: white;
    margin: auto;
}

