@import url('https://fonts.googleapis.com/css?family=Caveat|Italianno|Lobster|Montserrat+Alternates|Pacifico');

:root {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #fffda5;
    color: #d82b2b;
    max-width: 800px;
    margin: auto;
    
    
    }

.header-logo {
    font-family: Allura, cursive;
    font-style: italic;
    font-size: 4rem;
    margin: 0.5rem;
    text-align: center;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ff9721;
}

.header-nav a {
    color: #d82b2b;
    text-decoration: none;
    padding: 0 1%;
}

.header-nav a:hover {
    text-decoration: underline;
}

.name {
    text-align: center;
}

.banner {
    background-image: url('../img/banner.jpg');
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.main-feedback {
    display: block;
    text-align: center;
    max-width: 619px;
}
.main-contacs-name {
    text-align: center;
    color: #fffda5;
    }
.main-contacts {
    font-size: small;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom-width: 100px;
    border-top-width: 100px;
    text-align: center;
}

.footer-inspired {
    text-align: center;
    font-size: small;
    position: flex;
    max-width: 800px;
    bottom: 0;
    min-height: 20px;
    background-color: #d82b2b;
    color: white;
    margin: auto;
    
}

.carousel-slide {
    width: 60%;
}

form input {
    border-radius: 5px;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    padding: 5px 0;
    margin: 5px 0;
    text-align: center;
}