@import url('https://fonts.googleapis.com/css?family=Caveat|Italianno|Lobster|Montserrat+Alternates|Pacifico');

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #fffda5;
    color: #d82b2b;
    max-width: 1200px;
    margin: auto;
}

.header-logo {
    font-family: Allura, cursive;
    font-style: italic;
    font-size: 4rem;
    margin: 0.5rem;
    text-align: right;
}

.navbar-expand-lg {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ff9721;
    text-align: center;
    
}

.navbar-collapse a {
    color: #d82b2b;
    text-decoration: none;
    padding: 0 1%;
}

.navbar-collapse a:hover {
    text-decoration: underline;
}


.banner {
    background-image: url('../img/banner.jpg');
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

@media (min-width: 769px) {
.name {
    margin:auto;
    width: 100%;
    text-align: left;
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    font-style: italic;
    color: #d82b2b;
    padding-top: 100px;
    background-color: #fffda5;
}
}

@media (max-width: 768px) {
.name {
    margin:auto;
    width: 100%;
    text-align: left;
    font-family: 'Italianno', cursive;
    font-size: 1.5rem;
    font-style: italic;
    color: #d82b2b;
    padding-top: 100px;
    background-color: #fffda5;
}
}
@media (max-width: 768px) {
    #elena-info {
        width: 100%;
        background-color: #fffda5;
        color: black;
        font-size: 1rem;
    }
    #elena-img {
        width: 100%;
    }
}
#elena-info {
        width: 100%;
        background-color: #fffda5;
        color: black;
        font-size: 1rem;
    }
    #elena-img {
        width: 100%;
    }
@media (min-width: 769px) {
.about-me {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: #fffda5;
    
    }
}

@media (max-width: 768px) {
    .about-me {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #fffda5;
        column-width: 100%;
    }
    
}




.container {
    background-color: #fffda5;
}    

.main-feedback {
    display: block;
    text-align: center;
    margin: auto;
    background-color: #fffda5;
}

@media (min-width: 769px) {
    .form {
        align-items: center;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50em;
    }
}
@media (max-width: 768px) {

   .form {
        align-items: center;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    
    }
}

.main-contacs-name {
    text-align: center;
    color: #fffda5;
    }

.main-contacts {
    font-size: small;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom-width: 100px;
    border-top-width: 100px;
    text-align: center;
     padding-top: 100px;
}
.main-contacts-name {
    padding-top: 100px;
    text-align: center;
}

@media (max-width: 768px) {
.main-contacts {
    font-size: small;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    border-bottom-width: 100px;
    border-top-width: 100px;
    text-align: center;
    
}
}

.footer-inspired {
    text-align: center;
    font-size: small;
    position: static;
    max-width: 1200%;
    bottom: 0;
    min-height: 20px;
    background-color: #d82b2b;
    color: white;
    margin: auto;
}


