@import url('https://fonts.googleapis.com/css?family=Caveat|Italianno|Lobster|Montserrat+Alternates|Pacifico');

:root {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #d82b2b;
    color: white;
}

.header-logo {
    font-family: Allura, cursive;
    font-style: italic;
    font-size: 3rem;
    margin: 0.5rem;
    text-align: center;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header-nav a {
    color: white;
    text-decoration: none;
    padding: 0 1%;
}

.header-nav a:hover {
    text-decoration: underline;
}

.banner {
    background-image: url('../img/banner.jpg');
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-articles a {
    text-decoration: none;
    font-family: 'Italianno', cursive;
    color: white;
}
.main-articles a:hover {
    text-decoration: underline;
    
}
.main-services a {
    text-decoration: none;
    font-family: 'Italianno', cursive;
    color: white;
}
.main-services a:hover {
    text-decoration: underline;
}
.main-feedback {
    display: block;
    
    position: relative;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px
}