@import url('https://fonts.googleapis.com/css?family=Caveat|Italianno|Lobster|Montserrat+Alternates|Pacifico');

:root {
    font-family: 'Montserrat Alternates', sans-serif;
    background-image: url('../img/background-services.jpg');
    color: white;
    max-width: 100%;
    margin: auto; 
}

.main-logo {
    font-family: Allura, cursive;
    font-style: italic;
    font-size: 4rem;
    margin: 0.5rem;
    text-align: center;
}
.header-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header-nav a {
    color: white;
    text-decoration: none;
    padding: 0 1%;
}

.header-nav a:hover {
    text-decoration: underline;
}


.main-services {
    text-align: left;
    font-family: Caveat, cursive;
    font-size: 1.5rem;
}

.main-services a {
    color: white;
    text-decoration: none;
    padding: 0 1%;
    text-align: center;
}

.header-nav a:hover {
    text-decoration: underline;
}

.footer-inspired {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    min-height: 20px;
    background-color: white;
    color: #d82b2b;
    margin: auto;
}